# ========== Environment Variables and Sensitive Info ==========
.env

#========== Gradle Wrapper and build folders =============
.gradle/
**/build/
**/bin/



# ========== Java / Maven / Gradle ==========
target/
build/
*.class
*.jar
*.war
*.ear

# ========== Dev Tool ==========
.idea/
.vscode/
node_modules/

# === OS-specific ===
.DS_Store
Thumbs.db

dist/